/**
 * @author Triszt4n
 * Additional classes for the project
 */

.clickable {
  cursor: pointer;
}

.profile-pic {
  height: 11rem;
}

.profile-pic-mid {
  height: 7rem;
}

.profile-pic-mini {
  height: 3rem;
}

@media (max-width: 768px) {
  .profile-pic {
    height: 4rem;
  }

  .profile-pic-mid {
    height: 3rem;
  }
}

.custom-toast {
  position: absolute;
  top: 1rem;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
