.text-muted.text-center{style: "margin: 6rem 0 6rem 0;"}
  .lead
    %h4 This event or user profile is set to be hidden from the audience
    %p You might need to log in to your account in order to have access to this content.
